 
@{
    ViewBag.Title = "拒绝访问";
}


<div class="text-center">

    <h1 class="text-danger">拒绝访问 fangyu</h1>
    <h6  class="text-danger">您没有查看此资源的权限</h6>

    <img src="~/images/noaccess.png" style="width:300px;height:300px" />


</div>
