 @model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "用户列表";
}


    <h1>所有用户</h1>


@if (Model.Any())
{

<a asp-action="Register" asp-controller="Account" class="btn btn-primary mb-3" style="width:auto"  >创建用户</a>


    foreach (var user in Model)
    {

<div class=" card mb-3" >

    <div class="card-header">用户Id：@user.Id</div>

    <div class="card-body">
        <h5 class="card-title">@user.UserName</h5>


    </div>
    <div class="card-footer">
        <a  asp-action="EditUser" asp-controller="Admin" asp-route-id="@user.Id" class="btn btn-primary">编辑</a>
        <a href="#" class="btn btn-danger">删除</a>
    </div>
</div>

    }



}
else
{
<div class="card">
    <div class="card-header">
        尚未创建用户
    </div>
    <div class="card-body">
        <h5>点击下方按钮创建用户</h5>
        <a  asp-action="Register" asp-controller="Account" class="btn btn-primary">创建用户</a>
    </div>


</div>

}