@model StudentManagement.Model.Student

<!DOCTYPE html>
<html>
<head>
    <title>学生页面详情</title>
</head>
<body>

    <table>
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>名字</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>班级</td>
            <td>@Model.ClassName</td>
        </tr>

    </table>

</body>
</html>