@model Student
@inject IStudentRepository stuRepository

 
<form asp-controller="home" asp-action="create" method="post">
    <div>
        <label asp-for="Name"></label>
        <div>
            <input asp-for="Name">
        </div>
    </div>

    <div>
        <button type="submit">创建</button>
    </div>

    <div>
        Total Employees Count = @stuRepository.GetAllStudents().Count().ToString()
    </div>
</form>