@model IEnumerable<StudentManagement.Models.Student>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "学生列表页面";
}
 

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名字</th>
                <th>邮箱</th>
                <th>班级名称</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>
                        @student.Id
                    </td>
                    <td>
                        @student.Name
                    </td>
                    <td>
                        @student.Email
                    </td>
                    <td>
                        @student.ClassName
                    </td>
                </tr>
            }
        </tbody>
    </table>

 
