@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "异常错误页面";

}



<h3>程序请求时，发生了一个内部错误，我们会反馈给开发团队，尽快解决这个问题。</h3>



<h5>请听过 ltm@ddxc.org 与我们取得联系</h5>
 