@{
    ViewBag.Title = "密码设置成功";
}
<h1 class="text-info">密码设置成功</h1>
<h4 class="text-secondary">
    您已经成功地设置了本地密码。现在您可以随意选择
    您的本地用户帐户或外部帐户登录到系统中。
</h4>
<a asp-controller="home"
   asp-action="index"
   class="btn btn-outline-success"
   style="width:auto">
    点击此处返回首页
</a>