
@{
    ViewBag.Title = "添加密码";
}

@model AddPasswordViewModel

<h2>添加密码</h2>
<hr />
<p class="text-info">
    您当前使用的外部帐户登录，还没有设置本地用户名和密码。
    如果您想使用本地帐户登录，只需设置一个新密码。
    可以使用您的电子邮件作为用户名。
</p>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"> </span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:auto">
                设置密码
            </button>
        </form>
    </div>
</div>