@{
    ViewBag.Title = "修改密码结果通知";
}

<h1 class="text-info">修改密码结果通知</h1>
<h4 class="text-secondary">
    您的密码已经修改成功。
</h4>
<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto">  点击此处返回首页</a>