@model EmailAddressViewModel
@{
    ViewBag.Title = "忘记密码";
}


<h2>找回密码</h2>


<hr />

<div class="row">
    <div class="col-md-12">

        <form method="post" >


            <div asp-validation-summary="All" class="text-danger">

            </div>
            <div class="form-group">

                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />

                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">提交</button>
        </form>


    </div>
</div>
